@model  TrainingTool.Controllers.addTrainees

@{
    string trainer = ViewData["trainer"] as string;
}
<h2>TrainerToTrainee</h2>
@using (Html.BeginForm("AddTrainee", "Admin", new { trainerID = trainer }, FormMethod.Post, new { }))
{
 @*   @Html.Label("Enter Trainer's EmployeeID:")
    @Html.TextBoxFor(m=>Model.trainerId)*@
   
    <table class="table table-striped table-hover table-bordered bootstrap-datatable datatable">
               <tr>
                    <th></th>
                    <th>Stuff ID</th>
                    <th>Name</th>
                    <th>Departure</th>
                    <th>Gender</th>
                   <th>Tel</th>
                   <th>E-mail</th>
                   <th></th>
                   <th></th>
                </tr>
    @{
    for (int i = 0; i < Model.checkBoxList.Count; i++)
    {
   // }
        <tr>
            <td>@Html.CheckBoxFor(m=>Model.checkBoxList[i].Selected)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].stuffId)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].name)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].department)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].gender)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].Tel)</td>
            <td>@Html.DisplayFor(m => Model.checkBoxList[i].Email)</td>
            <td>@Html.HiddenFor(m=>Model.checkBoxList[i].stuffId)</td>
            <td>@Html.HiddenFor(m => Model.checkBoxList[i].name)</td>
        </tr>
    }
    }
    </table>
 
<input type="submit" id="btnPostValue" class="CssBtn" value="POST" />
}