@model PagedList.StaticPagedList<TrainingTool.Models.Course>

@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "studentIndex";
    int hasTrainee = (int)ViewData["hasTrainee"];
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/bootstrap1.css" rel="stylesheet" type="text/css" />
<link href="/Content/bootstarp1.min.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("/Scripts/bootstrap.js")" type="text/javascript"></script>

<script type="text/javascript">
    function open_collapseOne() {
        $("#collapseOne").collapse("show");
        $("#collapseTwo").collapse("hide");
        $("#collapseThree").collapse("hide");
    }
    function open_collapseTwo() {
        $("#collapseTwo").collapse("show");
        $("#collapseOne").collapse("hide");
        $("#collapseThree").collapse("hide");
    }
    function open_collapseThree() {
        $("#collapseThree").collapse("show");
        $("#collapseTwo").collapse("hide");
        $("#collapseOne").collapse("hide");
    }
</script>

<section id="course_page">
    <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Equities Training Portal</a>
                <ul class="nav">
                        @{
                            HttpCookie _cookie = Request.Cookies["User"];
                            string nowUserId = _cookie["EmployeeId"];
                        }
                    <li >@Html.ActionLink("Index", "Index", new { lastTime=DateTime.Now, userId = nowUserId })</li>
                    <li class="divider-vertical"></li>
                    <li>@Html.ActionLink("Study Management", "studentIndex", new { lastTime=DateTime.Now, userId = nowUserId })</li>
                    <li class="active">@Html.ActionLink("Course Management", "teachersIndex", new { lastTime=DateTime.Now, userId = nowUserId })</li>
                 @{
                        if(hasTrainee==1)
                        {
                            <li>@Html.ActionLink("My Trainees", "ViewTrainee", "trainerToTrainee", new { trainerID = nowUserId }, new { })</li>
                        }
                    }
                </ul>
            </div>
    </div>
<div class="row-fluid">
    <div class="span2">
        <div class="container clearfix" style="max-width: 200px; padding: 8px 0; position:fixed;">
            <ul class="nav nav-list" >
                <li class="nav-header"><h4>List header</h4></li>
                <li><a href="#collapseOneTitle" onclick="open_collapseOne();"><h5>Technical</h5></a></li>
                <li><a href="#collapseTwoTitle" onclick="open_collapseTwo();"><h5>Business</h5></a></li>
                <li><a href="#collapseThreeTitle" onclick="open_collapseThree();"><h5>System</h5></a></li>
                <li class="divider"></li>
                <li><button class="btn btn-large btn-primary" type="button" onclick="location.href='@Url.Action("Create", "CourseApply")'">Create New Course</button></li>
            </ul>
         </div> 
       
             @*@Html.ActionLink("Create New", "Create")*@
    </div>
    <div class ="span8">
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#created" data-toggle="tab">My Courses</a></li>
                <li><a href="#checking" data-toggle="tab">Courses in Checking</a></li>
            </ul>
        </div>
    @{
        List<TrainingTool.Models.Course> passedcourses = ViewData["passedCourses"] as List<TrainingTool.Models.Course>;
        List<TrainingTool.Models.CourseApply> checkingcourses = ViewData["checkingCourses"] as List<TrainingTool.Models.CourseApply>;
        }
        <div class="tab-content">
        <div class="tab-pane active" id="created">
        @{
        foreach (var item in passedcourses)
    {
        <table class="table table-bordered">
        <tr style="background-color:#D5E2F7">
            <td>
                <h4>@Html.ActionLink(item.Name, "Edit", new { id=item.ID})</h4>
            </td>
        </tr>
        <tr style="background-color:#F1F5FC">
            <td>
                @Html.DisplayFor(modelItem => item.Type);
            </td>
        </tr>
        <tr style="background-color:#F1F5FC">
            <td>
                @Html.DisplayFor(modelItem => item.Introduction);
            </td>
        </tr>
        </table>
    }
    }
    </div>
    <div class="tab-pane" id="checking">
    @{
        foreach (var item in checkingcourses)
        {
        <table class="table table-bordered">
        <tr style="background-color:#D5E2F7">
            <td>
                <h4>@Html.DisplayFor(modelItem =>item.CourseName)</h4>
            </td>
        </tr>
        <tr style="background-color:#F1F5FC">
            <td>
                @Html.DisplayFor(modelItem => item.Type);
            </td>
        </tr>
        <tr style="background-color:#F1F5FC">
            <td>
                @Html.DisplayFor(modelItem => item.Introduction);
            </td>
        </tr>
        </table>
        }
        }
       

        </div>
@*@Html.Partial("_Paging")*@


@*@{
    foreach(var item in Model)
    {
        <br />
        @Html.ActionLink(item.Name, "Details", new { id=item.ID})
        <br />
        //@Html.DisplayFor(modelItem => item.course.Name);
        <br />
        @Html.DisplayFor(modelItem => item.Type);
        <br />
        @Html.DisplayFor(modelItem => item.Introduction);
        <br />
    }
}*@

    </div>
</div>

</section>

    





