@model TrainingTool.Models.User

@{
    ViewBag.Title = "Create";
}

<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div>
                <p id="logo">
                    <p class="semi">Manage User 
                        <span id="tagline">​add, delete or update the employee ​</span>
                    </p>     
                </p>
                <div class="nav-collapse collapse"/>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h2>Create</h2>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            <fieldset>
                <legend>User</legend>

                <div class="span4" >
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EmployeeId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EmployeeId)
                        @Html.ValidationMessageFor(model => model.EmployeeId)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DepartmentId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DepartmentId)
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="span4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.Password, new { value="123456", @readonly="true"})
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Gender)
                    </div>
                    <div class="editor-field">
                        @Html.RadioButton("Gender", 0) 男 @Html.RadioButton("Gender", 1) 女 @Html.RadioButton("Gender", 2, true) 保密
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tel)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel)
                    </div>
                </div>

                <p>
                    <button type="submit" class="btn btn-primary">Create</button>
                </p>
            </fieldset>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
