@model TrainingTool.Models.TrainerToTrainee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TrainerToTrainee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trainerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trainerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.traineeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.traineeId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
