@*@model TrainingTool.Models.CourseApply

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CourseApply</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApplyDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeacherID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeacherID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Introduction)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Introduction)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ForDepart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForDepart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.applyState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.applyState)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.negativeOpinion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.negativeOpinion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}*@
